<h1>Alt Fuel Stations</h1>

<h3><%= stations_facade.station_count %> stations match your query. Here are the closest 15:</h4>
<% stations_facade.fifteen_stations.each do |station| %>
  <section class="station"
    <h5><%= station[:station_name] %></h5>
    <li><%= station[:street_address] %></li>
    <li><%= station[:fuel_type_code] %></li>
    <li><%= station[:distance] %></li>
    <li><%= station[:access_days_time] %></li>
  </section>
<% end %>
